.App {
  text-align: center;
}

h1 {
  margin: 0;
}

.header {
  background-color: crimson;
  padding: 15px;
}

.compa {
  background-color: red;
  margin: 15px;
  padding: 15px;
}

.compb {
  background-color: green;
  margin: 15px;
  padding: 15px;
}

.compc {
  background-color: blue;
  margin: 15px;
  padding: 15px;
}